html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#viewDiv {
  height: 100%;
  width: 70%;
  float: left;
}

#instruction {
  z-index: 99;
  position: absolute;
  top: 15px;
  left: 35%;
  padding: 5px;
  margin-left: -175px;
  height: 30px;
  width: 355px;
  background: rgba(25, 25, 25, 0.8);
  color: white;
}

#functions {
  width: 30%;
  height: 100%;
  float: right;
  padding: 20px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#functions > div:last-of-type {
  margin-top: auto;
}

.function {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

button {
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.button_function {
  font-weight: 500;
  background-color: bisque;
}

input {
  padding: 5px;
  font-size: 14px;
}

a {
  text-decoration: none;
  padding: 10px 130px;
  color: black;
}

.content {
  overflow: hidden;
  color: black;
  height: 0;
  transition: all 0.5s ease-in-out;
}

.content:target {
  color: black;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 15px;
}

.button_save {
  width: 60%;
  margin: 10px auto;
  background-color: rgb(244, 237, 237);
  border: solid 2px rgb(93, 125, 44);
  border-radius: 20px;
}

#notification_functions {
  background-color: #65b165;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#notification_functions p {
  color: white;
  padding: 10px 0;
  text-align: center;
}
